<%= form_for :signup, :html => {:class => "form-inline"}, :url => {:action => :create} do |f| %>
  <div class="text-center">
    <%= f.text_field :candidate_email, :placeholder => "email address", :style => "text-align: center", :class => "input-block-level"%>
    <%= f.submit "Request as Candidate", class: "btn btn-danger", onclick: "goog_report_conversion();" %>
  </div>
<% end %> 
